@font-face {
    font-family: OpenSans-Bold;
    src: url(.//fonts//OpenSans-Bold.ttf);
}

*{
    padding: 0;
    margin: 0;
}
#vt{
    text-align: center;
    color: #57c492;
    border: 2px solid black;
    border-radius: 7.5px;
    width: 20vw;
    margin: 0 auto;
    font-family: OpenSans-Bold;
    padding-bottom: 6px;
    position: absolute;
    margin-top: 2vh;
    margin-left: 42.5vw;
}
#Menu{
    border-right:solid #E2DDDD 4px;
     height: 88vh;
     width: 10vw;
     margin-top: 12vh;
     position: absolute;
 }

#LI {
    border: none;
    background: none;
    height: 6vh;
    position: absolute;
    margin-left: -5vw;
    margin-top: -1vh;
}

#Lp {
    margin-left: 3vw;
    font-size: 3.5vh;
    font-weight: bold;
}

#LB {
    border: solid 2px black;
    width: 12vw;
    background: none;
    height: 7.5vh;
    position: absolute;
    margin-left: 86.5vw;
    padding-right: -1vw;
    border-radius: 15px;
    margin-top: 1.25vh;
}

#carros{
    position: absolute;

    margin-top:12vh;
    border-top: solid #E2DDDD 4px;
    width: 100vw;
    height: 84vh;
   
}
#pag{
    position: absolute;
    margin-top: 5vh;
    margin-left: 5vh;
    font-family: OpenSans-Bold;
}
#car{
    position: absolute;
    margin-top: 12vh;
    margin-left: 5vh;
    font-family: OpenSans-Bold;
}
#not{
    position: absolute;
    margin-top: 18vh;
    margin-left: 5vh;
    font-family: OpenSans-Bold;
}

#borda_logo {
    position: absolute;
    width: 100vw;
    height: 7vh;


}
#carro{
    border: none;
    background: none;
    height: 7vh;
    position: absolute;
    margin-left: -1.5vw;
    margin-top: 10vh;
}
#casa{
    border: none;
    background: none;
    height: 7vh;
    position: absolute;
    margin-left: -1.5vw;
    margin-top: 3vh;
}
#sino{
    border: none;
    background: none;
    height: 7.5vh;
    position: absolute;
    margin-left: -1.7vw;
    margin-top: 15.7vh;
}
#perfilimg{
    background: none;
    height: 15vh;
    margin-left: 46vw;
    margin-top: 4vh;
}
#perfil{
    font-family: OpenSans-Bold;
    font-size: 30px;
    margin-left: 47vw;
    margin-top: 2vh;
}
#cartoes{
    height: 5vh;
    margin-left: 87vw;
    margin-top: -25vh;
    position: absolute;
}
#cartoestxt{
    font-family: OpenSans-Bold;
    margin-top: -24vh;
    margin-left: 90vw;
    position: absolute;
}
#cuponstxt{
    font-family: OpenSans-Bold;
    margin-top: -9vh;
    margin-left: 90vw;
    position: absolute;
}
#cupom{
    height: 5vh;
    margin-left: 87vw;
    margin-top: -10vh;
    position: absolute;
}
#reservas{
    height: 10vh;
    margin-left: 83.7vw;
    margin-top: -19vh;
    position: absolute;
}
#reservastxt{
    font-family: OpenSans-Bold;
    margin-top: -15.7vh;
    margin-left: 90vw;
    position: absolute;
}
#ultimasreservas{
    font-family: OpenSans-Bold;
    font-size: 30px;
    margin-left: 42vw;
    margin-top: 7vh;
}
#carro1{
    height: 60vh;
    margin-left: -4vw;
    margin-top: -19vh;
    position: absolute;
   

}
#carro2{
    height: 60vh;
    margin-left: 23vw;
    margin-top: -19vh;
    position: absolute;
}
#carro3{
    height: 60vh;
    margin-left: 45vw;
    margin-top: -19vh;
    position: absolute;
   
}